---
import { Logo } from '@/components/Icon'
import type { Settings } from '@/env.d'

const settings: Settings =
  process.env.settings && JSON.parse(JSON.stringify(process.env.settings))
---

<ul class="flex flex-wrap items-center justify-center gap-3">
  {
    settings?.social.map(
      ({
        title,
        href,
        image,
      }: {
        title?: string
        href: string
        image?: string
      }) => (
        <li>
          <a
            href={href}
            title={title}
            class="block p-2 transition-opacity hover:opacity-70">
            {image ? (
              <img src={image} alt="" class="max-h-[2rem]" />
            ) : (
              <Logo url={href} className="h-8" />
            )}
          </a>
        </li>
      )
    )
  }
</ul>
